.screen {
    width: 80%;
    height: 80%;
    background-color: #000242;
    margin: auto;
}
.header {
    color: white;
    padding: 20 20 20 20;
    background-color: black;
    border: 10px;
    border-color: aqua;
    font-size: 1.2rem;
    display:flex;
    text-align: center;
}
.spacer{
    width:80%
}

